html {
    /* font-family: sans-serif; */
    /* font-style: normal; */
    font-size: 16px;
}

article, section {
    border: 1px solid black;
    margin-bottom: 10px;
}

section {
    margin-left: 10px;
    margin-right: 10px;
}


.bold {
    font-weight: bold;
}

.italics {
    font-style: italic;
}